body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

img{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* ---------------------fonts------------------------- */

@font-face{
    font-family: 'speedeeReg';
    src: url('src/fonts/NeueHelveticaBQLight.otf');
}

@font-face{
    font-family: 'speedeeBold';
    src: url('src/fonts/Speedee-Bold.ttf');
}

@font-face{
    font-family: 'Gotham-Book';
    src: url('src/fonts/Gotham Book Font.otf');
}

/* ---------------------basics------------------------- */

#useFont{
    font-family: 'Gotham-Book';
    font-size: 0pt;
}

#feedback{
    position: fixed;
    display: none;
    z-index:50000;
    color:aliceblue;
    background-color: rgb(0, 0, 0);
}

#loadingImage{
    position: fixed;
    width: 237px;
    height: 46px;

    font-family: 'speedeeBold';
    color: #febb13;
    font-size: 20pt;
    text-align: center;
    
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 110000;

    image-rendering: smooth ;
    pointer-events: none;
}

#loadingImage2{
    position: fixed;
    /* width: 237px; */
    height: 36px;

    /* transform: translateY(-50px); */

    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 110000;

    image-rendering: smooth ;
    pointer-events: none;

    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
      transform: translateY(-50px) rotate(0deg);
    }
    100% {
      transform: translateY(-50px) rotate(360deg);
    }
  }

#loadingBack{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:100000;
    background-color: black;
    pointer-events: none;
}

#fader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:130000;
    background-color: white;
    pointer-events: none;
    opacity: 0;
}

#mycanvas{
    position: absolute;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:15;
}

/* ---------------------food buttons------------------------- */

.foodDiv{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0px;
    z-index:4110;
}

.foodButton{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index:300000;
}

.boostText{
    position: absolute;
    font-weight: bold;
    font-family: 'speedeeBold';
    font-size: 13pt;
    color: white;
    z-index:6000;
    pointer-events: none;
    width: 200px;
    text-align: center;
}

#ringDiv{
    pointer-events: none;
}

#ringImage{
    pointer-events: none;
}

/* ---------------------meter------------------------- */

#meterDiv{

    position: absolute;
    width: 100px;
    height: 100px;
    z-index:5000;
    display: none;

}

#meterImage{

    position: absolute;
    width: 100px;
    z-index:15000;
    pointer-events: none;

}

#meterBar{

    position: absolute;
    width: 20px;
    height: 100px;
    z-index:15000;
    background-color: #ffbc0d;
    pointer-events: none;

}

/* ---------------------char select------------------------- */

#charContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:5000;
}

#charNextPrev{

    position: absolute;
    bottom: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:5000;

    font-family: 'speedeeBold';
    color: white;
    font-size: 3vh;
    letter-spacing: 1px;

    display: flex;

}

#prevNextBar{

    width: 26px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

#selText{

    position: absolute;
    font-family: 'speedeeBold';
    color: white;
    font-size: 3vh;
    letter-spacing: 1px;
    width: 400px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 20%;

}

#confirmChar{

    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'speedeeBold';
    color: black;
    font-size: 3vh;
    margin-bottom: 40px;

    background-color: #febb13;
    display: inline-block;
    padding: 16px 60px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;

}

/* ---------------------splash------------------------- */

#splash{
    position: absolute;
    width: 520px;
    height: 520px;
    opacity: .5;
    left: 50%;
    top: 34%;
    transform: translate(-50%,-50%);
    z-index:4000;
    pointer-events: none;

}

#splashBlack{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: white;
    z-index:3000;
    pointer-events: none;
}

/* ---------------------score------------------------- */

#gameScore{
    position: absolute;
    right: 2vh;
    top: 1vh;
    font-size: 18pt;
    color: white;
    font-family: 'speedeeBold';
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
}

/* ---------------------show score------------------------- */

#showScore{
    position: absolute;
    font-size: 18pt;
    color: #febb13;
    font-family: 'speedeeBold';
    z-index: 2000;
    width: 200px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

/* ---------------------instructions1------------------------- */

#instructions1{
    position: absolute;
    z-index:5000;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

#instructions1b{
    position: absolute;
    z-index:5000;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#rightInstructions{
    position: absolute;
    right: 0px;
    width: 40vw;
    top: 43%;
    max-width: 300px;
    z-index:5000;
    pointer-events: none;

}

#leftInstructions{
    position: absolute;
    left: 0px;
    width: 40vw;
    top: 43%;
    max-width: 300px;
    z-index:5000;
    pointer-events: none;

}

#rightBlack{
    position: absolute;
    background-color: black;
    opacity: .5;
    left: 0px;
    width: 50%;
    height: 9000px;
    z-index:4000;
    pointer-events: none;

}

#leftBlack{
    position: absolute;
    background-color: black;
    right: 0px;
    width: 50%;
    height: 100%;
    opacity: .5;
    z-index:4000;
    pointer-events: none;

}

/* ---------------------instructions2------------------------- */

#instructions2{
    position: absolute;
    z-index:3001;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

#buttonInstructions{
    position: absolute;
    bottom: 150px;
    width: 90%;
    max-width: 700px;
    z-index:4000;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

}

#bottomGrad{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    z-index:3000;
    pointer-events: none;

}

/* ---------------------volume------------------------- */

.volBut{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 4vw;
    z-index: 10000;
}

#volOn{
    max-width: 25px;
}

#volOff{
    display: none;
    max-width: 25px;
}

/* ----------------------------------------------------------------------------------- */

#resultDiv{

    position: absolute;
    width: 100%;
    height: 100%;
    z-index:11500;
    pointer-events: none;
    opacity: 0;

}

/* ---------------------top bar------------------------- */

#pointsLogo{
    width: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 3vh;
}

#scoreDisplay{

    text-align: right;
    position: absolute;
    font-family: 'speedeeBold';
    right: 2vw;
    top: 1.5vh;
    font-size: 2.5vh;
    white-space: nowrap;

}

#rmTop{
    
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1000000;

}

#rmBar{
    border: 2px solid green;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10px;
    overflow: hidden;
}

#pointsBar{
    position: absolute;
    top: 6vh;
    width: 100%;
    height: 5px;
    background-image: url("src/img/pointsBar.svg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border: 2px red;
}

.resPlayer{
    position: absolute;
    z-index: 1200;
    max-width: 60%;
    max-height: 50%;
    bottom: -5vh;
    right: -5%;
    transform: scaleX(-1);
}

/* ---------------------yellow box------------------------- */

#resultInnerDiv{

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index:115000;
}

#resultMenu{

    position: absolute;
    width: 100%;
    height: 100%;
    
}

#topContainer{

    position: absolute;
    padding: 0px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    height: 28vh;
    top: 6vh;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 0 0 2px #f5bf44,
                0 0 0 2px #f5bf44 inset,
                0 0 0 2px #f5bf44 inset,
                0 0 0 2px #f5bf44 inset;

}

#topContainerBar{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5bf44;
    width: 100%;
    height: 9vh;

}

#rmTitle{

    font-family: 'speedeeBold';
    color: black;
    text-align: left;
    font-size: min(6vw, 5vh);
    white-space: nowrap;

}

#rmContent{

    padding: 3vh;
    font-size: 2vh;
    display: inline-flex;

}

#qrCode{
    display: block;
    background-color: grey;
    margin-right: 2vh;
    height: 12vh;
    width: 12vh;
}

#rmText{

    text-align: left;
    /* border: 1px solid blue; */
    transform: translate(0, -5px);
    width: 100%;
    height: 100%;
    font-size: 2.25vh;

}

.mdBold{
    font-family: 'speedeeBold';
}

.mdReg{
    font-family: 'speedeeReg';
}

/* ---------------------bottom box------------------------- */

#resultYellow{

    position: absolute;
    width: 70%;
    margin-left: 15%;
    margin-top: 1vh;
    height: 45vh;
    top: 39vh;

}

#playAgainBut{

    background-color: #febb13;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
    text-align: center;
    font-size: 2vh;
    white-space: nowrap;
    font-family: 'speedeeBold';

}

#rightYellow{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 100%;
    float: left;

}

#finalScore{

    margin-top: 14vh;
    font-family: 'speedeeBold';
    font-size: 7vh;
    color: white;
    height: 7.5vh;
    width: 100%;

}

#finalScore2{

    font-family: 'speedeeReg';
    font-size: 3vh;
    color: white;
    width: 100%;

}

/* ---------------------date------------------------- */

#dateDiv{
    position: absolute;
    left: 15vw;
    bottom: 13vh;
}

#resultDate{
    font-family: 'speedeeBold';
    font-size: 2vh;
    white-space: nowrap;
    color: white;
    letter-spacing: 1px;
}

#resultTime{
    font-family: 'speedeeReg';
    font-size: 1.5vh;
    color: white;
    letter-spacing: 1px;/
}

/* ---------------------other reset------------------------- */

#otherReset{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 210000;
    width: 40px;
    height: 40px;
}

/* ---------------------extra------------------------- */

#mixer{
    position: absolute;
    top: 100px;
    left: 0px;
    z-index:111110;
    display: none;
}

#testLoc{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: red;
    z-index:1110;
    display: none;
}


  